version: '3.8'

services:
  # 1. HURTOWNIA DANYCH
  postgres_dw:
    image: postgres:15
    container_name: postgres_dw
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=password123
      - POSTGRES_DB=currency_db
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d currency_db"]
      interval: 10s
      timeout: 5s
      retries: 5

  # 2. LABORATORIUM (JUPYTER + SPARK)
  jupyter:
    build: 
      context: .
      dockerfile: Dockerfile.jupyter
    container_name: jupyter_spark
    user: root
    ports:
      - "8888:8888"
      - "4040:4040"
    volumes:
      - .:/home/jovyan/work
    environment:
      - JUPYTER_ENABLE_LAB=yes
      - JUPYTER_TOKEN=admin123

  # 3. METADANE DLA AIRFLOW
  airflow_db:
    image: postgres:15
    container_name: airflow_db
    environment:
      - POSTGRES_USER=airflow
      - POSTGRES_PASSWORD=airflow
      - POSTGRES_DB=airflow
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U airflow"]
      interval: 10s
      timeout: 5s
      retries: 5

  # 4. ORKIESTRATOR (AIRFLOW)
  airflow:
    build: . 
    container_name: airflow_app
    depends_on:
      airflow_db:
        condition: service_healthy
      postgres_dw:
        condition: service_healthy
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@airflow_db/airflow
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
    volumes:
      - ./dags:/opt/airflow/dags
      - ./scripts:/opt/airflow/scripts
      - ./data:/opt/airflow/data
    ports:
      - "8080:8080"
    command: standalone

  # 5. MONITORING - METRYKI
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  # 6. MONITORING - WIZUALIZACJA
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus

# Definicje trwałych wolumenów
volumes:
  db_data:
  grafana_data: